:root {
  background-color: rgb(29, 26, 26);
  font-size: 20px;
}

body {
  color: #fff;
}

.choice-container {
  display: flex;
  margin-bottom: 0.8rem;
  width: 100px;
  border-radius: 4px;
  background: blue;
  font-size: 2rem;
  min-width: 20rem;
  padding: 1rem;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 blue;
  transform: scale(1.02);
  transition: transform 100ms;
}

.choice-text {
  width: 100%;
  margin: 0;
}

.container {
  color: antiquewhite;
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #fff;
  background-color: cadetblue;
}

.high-scores {
  display: flex;
  justify-content: flex-end;
}

.high-scores a {
  color: antiquewhite;
}

.high-scores a:hover {
  color: cadetblue;
}

.questions {
  text-align: center;
}

.correct {
  background: green;
}

.incorrect {
  background: red;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

#game {
  display: none;
  align-items: center;
}

#start {
  font-size: 1rem;
  color: blue;
  padding: 0.5rem;
}

@media screen and (max-width: 768px) {
  .choice-container {
    min-width: 40rem;
  }
}
